@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Tinos:wght@700&family=Josefin+Sans:ital,wght@1,400&display=swap');

html, body{
    /* height: 100%;     */
    width: 100%;
    margin: 0;
    background-image: url('imgs/jog_bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; Optional - this makes the background fixed while scrolling */
    background-position: center;
}

.header-cls{
    margin-left: 8vw;
    margin-right: 8vw;
}

.header-cls p{
    margin: 0;
    font-size: 1.2em;
    font-family: 'Tinos', serif;
    margin-bottom: 2vh;
}
#jog-id{
    font-family: 'Protest Revolution', sans-serif;
    font-size: 4em;
    color: rgb(2, 21, 46);
    margin-bottom: 0;
    margin-top: 2vh;
}

.swiper-wrapper{
    margin-left: 8vw;
    margin-right: 8vw;
}

.swiper-slide, img{
    margin: 0;
    width: 95%;
    /* height: 80%; */
    border-radius: 3%;
}

.main-content{
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 3vh;
    text-align: justify;
}

.main-content, p{
    font-size: 1.05em;
    font-weight: 100;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;  
}
footer{
    width: 100%;
    background-color: rgb(41, 40, 40);
    display: flex;
    flex-direction: roe;
    color: whitesmoke;
}
footer p{
    margin-left: 5%;
}