@import url('https://fonts.googleapis.com/css2?family=Allura&family=Calligraffitti&family=Crimson+Text&family=Kalam&display=swap');


body,footer{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}

.first-page{
    width: 100%;
    height: 100vh;
    background-image: url('../img/goukula.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    margin-bottom: 0;
}
.first-page h2{
    display: none;
}
#title{
    font-family: 'kalam', cursive;
    font-size: 10ex;
    position: relative;
    margin-left: 30%;
    margin-bottom: 0;
    margin-top: 10%;
    background: linear-gradient(-45deg, rgb(250, 0, 0), rgb(255, 81, 0), rgb(255, 255, 8));
    -webkit-background-clip: text; /* Apply background-clip for webkit browsers */
    background-clip: text; /* Apply background-clip for other browsers */
    color: transparent; /* Make the text transparent */
}

.sub-title{
    border-radius: 20px;
    padding: 3px;
    width: 90%;
    margin: auto;
    background-color: rgba(250,250,250,0.35);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.55);
}
#subtitle{
    position: relative;
    width: 95%;
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
}




#logo{
    position: relative;
    width: 17.5vh;
    height: 17.5vh;
    margin-top: 2em;    
    margin-left: 2em;
    float: left;
}

#head{
    position: relative;
    font-size: 3em;
    margin-top: 0.85em;
    margin-left: 3.5em;
    color: rgb(255, 255, 255);
    text-shadow:  2px 4px rgba(0, 0, 0, 0.55);
}
#subhead {
    color: orangered;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 2.8em;
    left: 7em;
    text-shadow:  1px 3px rgba(0.1, 0.1, 0.1, 0.6);
}

.second-page {
    width: 100%;
    position: relative;
    margin-top: 0;
    background-color: #f0f0f0; /* Background color of the second page */
    display: grid;
    grid-template-areas: 
        'header  header header header'
        'left  feature feature  right'
        'midimg1 midimg2 midimg3 midimg4'
        'gvside1 gvside1 gvmain gvmain'
        'gvside1 gvside1 gvmain gvmain';
    gap: 2vh;
    padding: 0;
}

.second-page img{
    width: inherit;
    height: inherit;
}
.header1{
    grid-area: header;
    margin: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Courgette', cursive;
    background: linear-gradient(-45deg, rgb(21, 175, 29), rgb(3, 51, 12));
    -webkit-background-clip: text; /* Apply background-clip for webkit browsers */
    background-clip: text; /* Apply background-clip for other browsers */
    color: transparent; /* Make the text transparent */
}
.left1 {grid-area: left;
}
.feature {grid-area: feature;
    margin: 0;
    text-align: justify;
}
.right1 {grid-area: right;
}

.gvmain{
    grid-area: gvmain;
}
.gvmain p{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 0px;
}
.gvhead{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Courgette', cursive;
    background: linear-gradient(-45deg, rgb(21, 175, 29), rgb(3, 51, 12));
    -webkit-background-clip: text; /* Apply background-clip for webkit browsers */
    background-clip: text; /* Apply background-clip for other browsers */
    color: transparent; /* Make the text transparent */
}

#gv2{
    width: 48%;
    height: 64%;
    margin-top: 2%;
}
#gv3{
    width: 48%;
    float: right;
    margin-top: 2%;
    height: 64%;
}
#gvpar{
    position: relative;
    width: 95%;
    margin: auto;
    text-align: justify;
    margin-top: 1%;
}

.giridhari{
    position: relative;
    width: 95%;
    margin: auto;
}

#girimandira{
    position: relative;
    margin-top: 0;
    float: right;
    margin-left: 1.5%;
    width: 40%;
}

.giridhari p{
    text-align: justify;
}
.giridhari h1{
    font-family: 'Courgette', cursive;
    background: linear-gradient(-45deg, rgb(21, 175, 29), rgb(3, 51, 12));
    -webkit-background-clip: text; /* Apply background-clip for webkit browsers */
    background-clip: text; /* Apply background-clip for other browsers */
    color: transparent; /* Make the text transparent */
}

#giridhari{
    width: 15%;
    height: 25%;
    float: right;
    margin-left: 1%;
}
#girimetilu{
    height: 25%;
    width: 15%;
    float: right;
    margin-left: 1%;
}



@media screen and (max-width: 600px){
    .first-page h2{
        display: block;
        position: absolute;
        top: 0.1em;
        left: 1em;
        color: white;
        font-size: 2.5em;
    }
    #logo{
        width: 10vh;
        height: 10vh;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    #head{
        font-size: 1.5em;
        margin-top: 1.3em;
        margin-left: 4em;
    }
    #subhead{
        top: 2.55em;
        left: 5.7em;
        font-size: 1.05em;
    }
    #title{
        font-size: 2.1em;
        position: absolute;
        margin-left: 13%;
        margin-bottom: 0;
        margin-top: 21%;
    }
    .sub-title{
        width: 70%;
        left: 13%;
        position: absolute;
        top: 36%;
    }
    #subtitle{
        font-size: 1.1em;
    }
    .header1{
        font-size: 1.4em;
    }
    .feature{
        font-size: 0.9em;
    }
    .gvhead{
        font-size: 1.4em;
    }
    #gvpar{display: none;}

    .gvmain p{
        font-size: 0.9em;
    }

    #gv2{
        width: 48%;
        height: 20%;
    }
    #gv3{
        width: 48%;
        height: 20%;
    }
    .giridhari p{
        font-size: 0.9em;
    }
    .giridhari h1{
        font-size: 1.4em;
    }
}

footer{
    width: 100%;
    background-color: rgb(41, 40, 40);
    display: flex;
    flex-direction: roe;
    color: whitesmoke;
}
footer p{
    margin-left: 5%;
}

footer img{
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 0;
    width: 48%;
    height: 60%;
}