html, body{
    /* height: 100%;     */
    width: 100%;
    margin: 0;
    background-image: url('imgs/BKC.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; Optional - this makes the background fixed while scrolling */
    background-position: center;
}


